*{
  box-sizing: border-box;
}

.login-form{
  background: #f1f1f1;
  position: relative;
}

.input{
  position: relative;
  background: none;
  z-index: 1;
}

span::before{
  content: 'hello';
  position: absolute;
  left: 0;
}
