@charset "utf-8";

body {
  margin: 0;
}

.container {
  height: 100vh;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  height: 100px;
  width: 100px;
  background: blue;
}
