@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-image: linear-gradient(120deg, #3498db, #8e44ad);
  box-sizing: border-box;
  overflow: hidden;

}

.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
