@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* common */

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.form-wrapper {
  height: 100vh;
  background-image: linear-gradient(120deg,#3498db,#8e44ad);
  display: flex;
  justify-content: center;
  align-items: center;
}
