@charset "utf-8";

html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.hero {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero.home-hero {
  background-image: url('../images/main-bg.jpg');
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;

  .logo {
    width: 210px;
    margin-top: 14px;
    margin-bottom: 15px;
  }

  .nav-list {
    margin-top: 34px;
    display: flex;
  }

  .nav-item {
    margin-left: 36px;
  }
  .nav-link {
    font-size: 1.25rem;
    color: #432;
    &:hover {
      color: #0bd;
    }
  }
}

.footer {
  background: #432;
  text-align: center;
  padding: 28px 0;

  .copyright {
    color: #fff;
    font-size: 0.7rem;
  }
}


.home-content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
  text-align: center;
  margin-top: 10%;

  .title {
    font-family: "Philosopher", sans-serif;
    font-weight: normal;
    font-size: 5.0rem;
  }

  .subtitle {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.125rem;
  }

  .button {
    display: inline-block;
    background: #0bd;
    color: #fff;
    padding: 11px 32px 10px;
    margin: 11px 31px;
    border-radius: 5px;
    font-size: 1.375rem;
  }
}

.hero.news-hero {
  background-image: url(../images/news-bg.jpg);
  height: 270px;
  margin-bottom: 40px;

  .title {
    text-align: center;
    font-family: "Philosopher", sans-serif;
    font-weight: normal;
    font-size: 5.0rem;
  }
}



.news-contents {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  .article {
    width: 74%;
  }

  .sidebar {
    width: 22%;
  }

  .post-info {
    position: relative;
    padding-top: 4px;
    margin-bottom: 40px;
  }

  .post-date {
    background: #0bd;
    border-radius: 50%;
    color: #fff;
    width: 100px;
    height: 100px;
    font-size: 1.625rem;
    text-align: center;
    position: absolute;
    top: 0;
    padding-top: 10px;
  }

  .post-year {
    font-size: 1rem;
    border-top: 1px rgba(255, 255, 255,.5) solid;
    padding-top: 6px;
    display: block;
    width: 60%;
    margin: 0 auto;
  }

  .post-title {
    font-family: "Yu Mincho", "YuMincho", serif;
    font-size: 2rem;
    font-weight: normal;
  }

  .post-title,
  .post-category {
    margin-left: 120px;
  }

  .post-image {
    margin-bottom: 28px;
  }

  .post-body {
    margin-bottom: 1rem;
  }

  .sub-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
  }

  .description {
    padding: 12px 10px;
  }

  .sub-menu-list {
    margin-bottom: 60px;
  }

  .sub-menu-item {
    border-bottom: 1px #ddd solid;
  }

  .sub-menu-link {
    color: #432;
    padding: 10px;
    display: block;

    &:hover {
      color: #0bd;
    }
  }
}

@media (max-width: 600px) {
  .home-content {
    margin-top: 20%;
    .title {
      font-size: 2.5rem;
    }
  }

  .header {
    flex-direction: column;
    align-items: center;

    .nav-list {
      margin-top: 10px;
    }

    .nav-item {
      margin: 0 20px;
    }

    .nav-link {
      font-size: 1rem;
    }
  }

  .hero.news-hero {
    .title {
      margin-top: 30px;
      font-size: 2.5rem;
    }
  }

  .news-contents {
    flex-direction: column;

    .article,
    .sidebar {
      width: 100%;
    }

    .sidebar {
      margin-top: 60px;
    }

    .post-info {
      margin-bottom: 30px;
    }

    .post-date {
      width: 70px;
      height: 70px;
      font-size: 1rem;

      .post-year {
        font-size: 0.875rem;
        padding-top: 2px;
      }
    }

    .post-title,
    .post-category {
      margin-left: 80px;
    }

    .post-title {
      font-size: 1.375rem;
    }

    .post-category {
      font-size: 0.875rem;
      margin-top: 10px;
    }
  }
}
